{% extends "layouts.app" %}

{% block search_bar %}
{% endblock %}

{% block content %}
	<div class="bg-light window-height" >

		<div class="container-fluid" id="inbox-main-outer">
			<div class="mx-auto pt-5" id="inbox-main" style="max-width: 576px;">

				<div class="row pt-5">
					<div class="col-12 " style="">

						<h3>File a report</h3>
						<h6><small>Listing: {{ listing.title }}</small></h6><br />

						<form method="POST" action="{{ route('listing.report', [listing]) }}">
                            {{ csrf_field() }}
							<div class="form-group">
								<label for="exampleInputEmail1">Reason for report</label>
								<select name="reason" class="form-control">
                                    {% if setting('moderatelistings.report_types') %}
										{% for report_type in setting('moderatelistings.report_types') %}
											<option>{{ report_type.value }}</option>
										{% endfor %}
                                    {% endif %}
								</select>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Detailed description</label>
								<textarea class="form-control" name="notes" rows="3"></textarea>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


